.cardList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  grid-area: photo;
}

.window {
  padding: 1rem;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-areas: "photo sidebar";
  gap: 1rem;
}

.sidebar {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

@media only screen and (max-width: 900px) {
  .sidebar {
    display: none;
  }
  .window {
    grid-template-columns: 1fr;
    grid-template-areas: "photo";
  }
}

@media only screen and (max-width: 600px) {
  .cardList {
    grid-template-columns: 1fr;
  }
}
